/* ===== Variables ===== */
:root {
  --hjalta-dark: #52575D;
  --hjalta-gold: #EFB90A;
  --hjalta-cream: #F6F4E6;
  --hjalta-black: #2b2e31;
  --hjalta-white: #ffffff;
}
body {
  background-color: var(--hjalta-cream)!important;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

div.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}